<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
      <a type="button">Menu</a>
      <ul class="menu vertical">
        <li><%= link_to 'Link 1', root_path %></li>
        <li><%= link_to 'Link 2', root_path %></li>
        <li><%= link_to 'Link 3', root_path %></li>
      </ul>
      </li>
    </ul>
  </div>
    <div class="title-area">
        <a href="#"><%= link_to Settings.app.name_compact, root_path  %></a>
    </div>
  <div class="top-bar-right">
    <ul class="menu" id="menu-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
      <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
        <li><%= link_to 'Users', users_path %></li>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>

